.cart-body {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-item {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.cart-item div {
  flex: 2;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-summary > * {
  width: 85vw;
}

.cart-summary p {
  display: flex;
  justify-content: space-between;
}

.cart-continue {
  height: 50px;
  background-color: black;
  color: wheat;
  font-size: 20px;
  text-transform: uppercase;
}

.cart-form {
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin: 0 auto;
  padding-bottom: 20px;
  gap: 20px;
}

.cart-form-item {
  display: flex;
  flex-direction: column;
}

.cart-form-item input,
.cart-form-item select {
  width: 100%;
  padding: 10px;
}
