{% extends 'admin/base.html' %}


{% block styles %}
    <link rel="stylesheet" href="/static/styles/books.css" />
{% endblock styles %}


{% block nav %}
    <div class="nav-header">
      <a href="{{ url_for('admin.index') }}">Home</a>&ThickSpace;>&ThickSpace;Books
    </div>
{% endblock nav %}


{% block content %}
    <main class="books-body">
      <a href="{{ url_for('admin.books.add_book') }}"><div class="add-book">Add Book</div></a>
      <br>
      {% for book in books %}
        {% include 'admin/_book.html' %}
      {% endfor %}
    </main>
{% endblock content %}
