{% extends 'admin/base.html' %}


{% block styles %}
    <link rel="stylesheet" href="/static/styles/book_preview.css" />
{% endblock %}


{% block nav %}
    <div class="nav-header">
      <a href="{{ url_for('admin.index') }}">Home</a>&ThickSpace;>&ThickSpace;<a href="{{ url_for('admin.books.books') }}">Books</a>&ThickSpace;>&ThickSpace;{{ book.title or 'New' }}
    </div>
{% endblock nav %}


{% block content %}
    <main>
      <form class="book-form" action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag()}}
        <div>
          {{ form.images.label }}
          {{ form.images() }}
          <br>
          {% for error in form.images.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
        <div>
          {{ form.title.label }}
          <br />
          {{ form.title() }}
          <br>
          {% for error in form.title.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
        <div>
          {{ form.description.label }}
          <br />
          {{ form.description() }}
          <br>
          {% for error in form.description.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="book-prices">
          <div>
            {{ form.original_price.label }}
            {{ form.original_price() }}
            <br>
            {% for error in form.original_price.errors %}
              <span style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>
          <div>
            {{ form.selling_price.label }}
            {{ form.selling_price() }}
            <br>
            {% for error in form.selling_price.errors %}
              <span style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        {{ form.submit() }}
      </form>
    </main>
{% endblock content %}
