{% extends 'admin/base.html' %}


{% block content %}
<div class="dash-cards">
  <div class="dash-card">
    <h1>10</h1>
    pending orders
    <br />
    <a href="{{ url_for('admin.orders.orders') }}">view ></a>
  </div>
  <div class="dash-card">
    <h1>30</h1>
    Books
    <br />
    <a href="{{ url_for('admin.books.books') }}">view ></a>
  </div>
  <div class="dash-card">
    <h1>20</h1>
    Shopping List items
    <br />
    <a href="{{ url_for('admin.shopping.shopping') }}">view ></a>
  </div>
  <div class="dash-card">
    <h1>20</h1>
    Pickup Locations
    <br />
    <a href="{{ url_for('admin.locations.locations') }}">view ></a>
  </div>
  <div class="dash-card">
    <h1>20</h1>
    New Customers This month
    <br />
    3% up
  </div>
  <div class="dash-card">
    <h1>N100,000</h1>
    Revenue This month
    <br />
    <br />
    <p>40% up</p>
    <br />
    <a href="shopping.html">view ></a>
  </div>
</div>
{% endblock content %}
