<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vera's World</title>
    <link rel="stylesheet" href="/static/styles/main.css" />
  </head>
  <body>
    <nav>
      <h1 class="logo">
        <a href="/admin" style="color: black">Vera's <small>world.</small></a>
      </h1>
      <div class="nav-items">
        <div class="orders nav-item"><a href="orders.html">Orders</a></div>
        <div class="nav-item"><a href="books.html">Books</a></div>
        <div class="nav-item"><a href="shopping.html">Shopping</a></div>
      </div>
    </nav>
    <br />
    <br />
    <br />
    <main>
      <form action="" method="post" class="login-form">
        <label for="username">Username</label>
        <br />
        <input type="text" name="username" id="username" />
        <br />
        <br />
        <label for="password">Password</label>
        <br />
        <input type="password" name="password" id="password" />
        <br />
        <br />
        <br />
        <input type="submit" value="Login" class="login-btn" />
      </form>
    </main>
  </body>
</html>
