{% extends 'admin/base.html' %}


{% block nav_items %}
{% endblock nav_items %}


{% block content %}
<br>
<br>
<br>
<form action="" method="post" class="login-form" novalidate>
  {{ form.hidden_tag() }}
  {{ form.username.label }}
  <br />
  {{ form.username() }}
  <br>
  {% for error in form.username.errors %}
    <span style="color: red;">{{ error }}</span>
  {% endfor %}
  <br />
  <br />
  {{ form.password.label }}
  <br />
  {{ form.password() }}
  <br>
  {% for error in form.password.errors %}
    <span style="color: red;">{{ error }}</span>
  {% endfor %}
  <br />
  <br />
  <br />
  {{ form.submit(class='login-btn') }}
</form>
{% endblock content %}