{% extends 'admin/base.html' %}


{% block styles %}
    <link rel="stylesheet" href="/static/styles/orders.css" />
{% endblock styles %}


{% block nav %}
    <div class="nav-header">
      <a href="{{ url_for('admin.index') }}">Home</a> &ThickSpace;>&ThickSpace;<a href="{{ url_for('admin.orders.orders') }}"
        >Orders</a
      >&ThickSpace;>&ThickSpace;{{ order.created_at.strftime('%d-%m-%Y')}}
    </div>
{% endblock nav %}


{% block content %}
    <main class="order-body">
      <div>
        <h2 class="order-price">N{{ order.total }}</h2>
      </div>
      <br />
      <br />
      <div class="order-status">
        <button class="order-status">Add to Shopping</button>
      </div>
      <br />
      <br />
      <div class="order-books">
        <table>
          <tr>
            <th><h3>Books</h3></th>
            <th><h3>Quantity</h3></th>
            <th><h3>Price</h3></th>
          </tr>
          {% for book in order.books %}
            <tr>
              <td>{{ book.book.title }}</td>
              <td>{{ book.quantity }}</td>
              <td>{{ book.book.original_price }}</td>
            </tr>
          {% endfor %}
        </table>
        <br />
        <div class="order-info">
          <p><b>Name: </b> {{ order.customer.name }}</p>
          <p><b>Phone: </b><a href="tel:{{ order.customer.phone}}">{{ order.customer.phone }}</a></p>
          <p>Chat on <a href="https://wa.me/{{ order.customer.phone }}">Whatapp</a></p>
          <p><b>Location</b>: {{ order.location.name }}</p>
        </div>
      </div>
    </main>
{% endblock content %}
