{% extends 'admin/base.html' %}


{% block styles %}
    <link rel="stylesheet" href="/static/styles/orders.css" />
{% endblock styles %}


{% block nav %}
    <div class="nav-header">
      <a href="{{ url_for('admin.index') }}">Home</a> &ThickSpace;>&ThickSpace;Orders
    </div>
{% endblock nav %}


{% block content %}
    <main class="orders-body">
      <div class="order-list">
        {% for order in orders %}
          {% include 'admin/_order.html' %}
        {% endfor %}
      </div>
      {% if other_orders %}
        <br>
        <center><h3>Other Orders</h3></center>
        <br>
        <hr>
        <br>
        <div class="order-list">
          {% for order in other_orders %}
            {% include 'admin/_order.html' %}
          {% endfor %}
        </div>
      {% endif %}
    </main>
{% endblock content %}
