<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart preview</title>
    <link rel="stylesheet" href="/static/styles/main.css" />
    <link rel="stylesheet" href="/static/styles/orders.css" />
  </head>
  <body>
    <div class="nav-header">
      <a href="/admin">Home</a> &ThickSpace;>&ThickSpace;Orders
    </div>
    <br />
    <main class="orders-body">
      <a href="order_preview.html">
        <section class="order-list-item">
          <article>
            <div class="order-details">
              <h3>Nwafor Emmanuel</h3>
              <h3>12-03-1920</h3>
              <p>No of Books: 2</p>
            </div>
            <div class="order-status">View ></div>
          </article>
        </section>
      </a>
    </main>
  </body>
</html>
