<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart preview</title>
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/shopping.css" />
  </head>
  <body>
    <div class="nav-header">
      <a href="/admin">Home</a> &ThickSpace;>&ThickSpace;<a href="shopping.html"
        >Shopping</a
      >&ThickSpace;>&ThickSpace;Withdraw
    </div>
    <br />
    <main>
      <div class="withdraw-form">
        <form action="" method="post">
          <label for="amount">Amount</label>
          <br />
          <input type="text" name="amount" id="amount" />
          <br />
          <label for="pin">Pin</label>
          <br />
          <input type="password" name="pin" id="pin" />
          <br />
          <br />
          <input type="submit" value="Withdraw" class="withdraw-btn" />
        </form>
      </div>
    </main>
  </body>
</html>
