{% extends 'admin/base.html' %}


{% block styles %}
    <link rel="stylesheet" href="/static/styles/shopping.css" />
{% endblock styles %}


{% block nav %}
    <div class="nav-header">
      <a href="{{ url_for('admin.index') }}">Home</a> &ThickSpace;>&ThickSpace;<a href="{{ url_for('admin.shopping.shopping') }}"
        >Shopping</a
      >&ThickSpace;>&ThickSpace;Withdraw
    </div>
{% endblock nav %}

{% block content %}
    <br />
    <main>
      <div class="withdraw-form">
        <form action="" method="post">
          {{ form.hidden_tag() }}
          {{ form.amount.label }}
          <br />
          {{ form.amount() }}
          <br />
          {% for error in form.amount.errors %}
            <br>
            <span style="color: red;">{{ error }}</span>
          {% endfor %}
          {{ form.pin.label }}
          <br />
          {{ form.pin() }}
          <br />
          {% for error in form.pin.errors %}
            <br>
            <span style="color: red;">{{ error }}</span>
          {% endfor %}
          <br />
          {{ form.submit() }}
        </form>
      </div>
    </main>
{% endblock content %}