<footer>
<h2>Book Store</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste excepturi,
  officia aut error maiores at, a quod et id quidem laboriosam delectus
  explicabo. Vero ipsa quia recusandae! Obcaecati, tenetur placeat?
</p>
<br>
<p><b>See available locations </b> <a href="{{ url_for('client.locations.locations') }}">here</a></p>
<br>
<h3>CONTACT US</h3>
<a href="mailto:customer@bookstore.com">customer@bookstore.com</a>
<br />
<br />
<a href="tel:+2341234567890">+2341234567890</a>
</footer>
