<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
        <title>{{ title }} - Vera's World</title>
    {% else %}
        <title>Vera's World</title>
    {% endif %}
    <link rel="stylesheet" href="/static/styles/main.css" />
    {% block styles %}
    {% endblock styles %}
  </head>
  <body>
    <nav>
        {% block nav %}
            {% include '_nav_bar.html' %}
        {% endblock nav %}
    </nav>
    <br />
    <br />
    <br />
    <main>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
      {% endwith %}

     {% block content %}
     {% endblock content %}
    </main>
    <footer>
        {% block footer %}
        {% endblock footer %}
    </footer>
  </body>
  <script src="/static/scripts/main.js"></script>
  {% block script %}
  {% endblock script %}
</html>
