<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vera's World</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/book_preview.css" />
  </head>
  <body>
    <nav>
      <h1 class="logo"><a href="/" style="color: black">Vera's World</a></h1>
      <div class="nav-items">
        <div class="orders nav-item"><a href="orders.html">Orders</a></div>
        <div class="cart nav-item"><a href="cart_preview.html">Cart</a></div>
      </div>
    </nav>
    <br />
    <br />
    <br />
    <br />
    <main>
      <section class="book-preview-container">
        <img src="assets/book.png" alt="Book title" class="big-image br-5" />
        <div class="small-images">
          <img src="assets/book.png" alt="Book title" class="br-5" />
          <img src="assets/book.png" alt="Book title" class="br-5" />
        </div>
        <div class="book-btns">
          <button class="book-btn btn-sub">-</button> 0
          <button class="book-btn btn-add">+</button>
        </div>
        <button class="add-to-cart">ADD TO CART</button>
        <p class="book-description">
          Book Description. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Non modi, distinctio numquam est mollitia voluptatum nostrum
          voluptates dolorum debitis amet laborum dolor rem, suscipit possimus
          eum sapiente sed perspiciatis harum?
        </p>
        <br />
        <br />
      </section>
    </main>
    <footer>
      <h3>Vera's World</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste excepturi,
        officia aut error maiores at, a quod et id quidem laboriosam delectus
        explicabo. Vero ipsa quia recusandae! Obcaecati, tenetur placeat?
      </p>
      <br />
      <h3>CONTACT US</h3>
      <a href="mailto:vera@vera.com">vera@vera.com</a>
      <br />
      <br />
      <a href="tel:+2341234567890">+2341234567890</a>
    </footer>
  </body>
</html>
