{% extends 'base.html' %}


{% block styles %}
<link rel="stylesheet" href="/static/styles/book_preview.css" />
{% endblock styles %}


{% block content %}
<section class="book-preview-container" data-book-id="{{ book.id }}">
  <h1>{{ book.title }}</h1>
  <img src={{ book.main_image or "/static/assets/book.png"}} alt="Book title" class="big-image br-5" />
  <div class="small-images">
    {% for image in book.other_images %}
      <img src={{ image }} alt="{{ book.title }}" class="br-5" />
    {% endfor %}
  </div>
  <div><h2>N{{ book.selling_price }}</h2></div>
  <div class="book-btns">
    <button class="book-btn btn-sub">-</button> 0
    <button class="book-btn btn-add">+</button>
  </div>
  <button class="add-to-cart">ADD TO CART</button>
  <p class="book-description">
    {{ book.description }}
  </p>
  <br />
  <br />
</section>
{% endblock content %}


{% block footer %}
  {% include '_footer.html' %}
{% endblock footer %}

