<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart preview</title>
    <link rel="stylesheet" href="/static/styles/main.css" />
    <link rel="stylesheet" href="/static/styles/cart.css" />
  </head>
  <body>
    <div class="nav-header">
      <a href="/">Home</a
      >&ThickSpace;>&ThickSpace;Cart&ThickSpace;>&ThickSpace;Items
    </div>
    <br />
    <main class="cart-body">
      <section>
        <article class="cart-item">
          <div>
            <p><b>Book Title</b></p>
            <p>N10, 100</p>
          </div>
          <div class="book-btns">
            <button class="book-btn btn-sub">-</button> 0
            <button class="book-btn btn-add">+</button>
          </div>
        </article>
        <article class="cart-item">
          <div>
            <p><b>Book Title</b></p>
            <p>N10, 100</p>
          </div>
          <div class="book-btns">
            <button class="book-btn btn-sub">-</button> 0
            <button class="book-btn btn-add">+</button>
          </div>
        </article>
      </section>
      <section class="cart-summary">
        <p>Total <b>N10, 100</b></p>
        <br />
        <button class="cart-continue">
          <a href="cart_form.html" style="color: wheat">Continue</a>
        </button>
      </section>
    </main>
  </body>
</html>
