{% extends 'base.html' %}

{% block content %}
<form class="search" action="/" method="POST">
  <input
    class="br-5 sticky mt-8"
    type="search"
    name="search"
    id="search"
    placeholder="Search Books"
  />
  
  {% if results %}
    <div class="search_box">
      {% include 'search_query.html' %}
    </div>
  {% endif %}
</form>

<section class="books">
  {% for book in books %}
    {% include '_book.html' %}
  {% endfor %}
</section>
<section class="pagination">
  {% if prev_url %}
    <button><a href="{{ prev_url }}">Previous Page</a></button>
  {% endif %}
  {% if next_url %}
    <button><a href="{{ next_url }}">Next Page</a></button>
  {% endif %}
</section>
{% endblock %}

{% block footer %}
  {% include '_footer.html' %}
{% endblock footer %}
