{% extends 'base.html' %}


{% block styles %}
    <link rel="stylesheet" href="/static/styles/orders.css" />
{% endblock styles %}


{% block nav %}
  <div class="nav-header">
      <a href="{{ url_for('client.index') }}">Home</a> &ThickSpace;>&ThickSpace;Orders
  </div>
{% endblock nav %}


{% block content %}
    <main class="orders-body">
      {% for order in orders %}
      <a href="{{ url_for('client.orders.order', order_id=order.id) }}">
        <section class="order-list-item">
          <article>
            <div class="order-details">
              <h3>{{ order.created_at.strftime('%d-%m-%Y') }}</h3>
              <p>No of Books: {{ order.num_books }}</p>
            </div>
            <div class="order-status order-status-{{ order.status.name }}">{{ order.status.name }}</div>
          </article>
        </section>
      </a>
      
      {% else %}
      <br>
      <br>
      <center>
        <h1>No Orders yet.</h1>
      </center>
      {% endfor %}

    </main>
{% endblock content %}
