{% extends 'base.html' %}


{% block styles %}
    <link rel="stylesheet" href="/static/styles/orders.css" />
{% endblock styles %}


{% block nav %}
  <div class="nav-header">
      <a href="{{ url_for('client.index') }}">Home</a> &ThickSpace;>&ThickSpace;<a href="{{ url_for('client.orders.orders') }}"
        >Orders</a
      >&ThickSpace;>&ThickSpace;{{ order.created_at.strftime('%d-%m-%Y') }}
    </div>
{% endblock nav %}


{% block content %}
<main class="order-body">
  <br>
  <br>
      <div>
        <h2 class="order-price">N{{ order.total }}</h2>
        <h3 class="order-status order-status-{{ order.status.name }}">{{ order.status.name }}</h3>
      </div>
      <br />
      <br />
      <div class="order-books">
        <table>
          <tr>
            <th><h3>Books</h3></th>
            <th><h3>Quantity</h3></th>
            <th><h3>Price</h3></th>
          </tr>
          {% for book in order.books %}
          <tr>
            <td>{{ book.book.title }}</td>
            <td>{{ book.quantity }}</td>
            <td>{{ book.book.selling_price * book.quantity }}</td>
          </tr>
          {% endfor %}
        </table>
        <br />
        <div class="order-info">
          <p><b>Name: </b>{{ order.customer.name }}</p>
          <p><b>Phone: </b><a href="tel:{{ order.customer.phone }}">{{ order.customer.phone }}</a></p>
          <p><b>Location</b>: <a href="{{ url_for('client.locations.location', location_id=order.location.id) }}">{{ order.location.name }}</a></p>
        </div>
      </div>
</main>
{% endblock content %}
